@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

$light-gray: #ececec;
$dark-gray: #444;
$black: rgba(0,0,0,.9);

body {
    background-color: $black;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.title {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    color: white;
    
    max-width: 80%;

    font-size: 4rem;
    text-shadow: 0px 0px 80px rgba(0,0,0,0.75);
}

.big {
    font-size: 15rem;
}