@font-face {
    font-family: 'FuturaCustom';
    src: url('/Futura-Bold.woff2') format('woff2'),
         url('/Futura-Bold.woff') format('woff'),
         url('/Futura-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$light-gray: #ececec;
$dark-gray: #444;
$black: rgb(32, 26, 24);

body {
    background-color: $black;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.title {
    font-family: 'FuturaCustom', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;

    color: white;
    
    max-width: 80%;

    font-size: 4rem;
    text-shadow: 0px 0px 40px rgba(0,0,0,1);
}

.medium {
    font-size: 10rem;
}
.big {
    font-size: 15rem;
}