$light-gray: #ececec;
$dark-gray: #444;
$black: rgb(32, 26, 24);

$primary-color: rgb(202, 68, 6);
$dark-color: rgb(59, 29, 15);

@import "spectre/src/spectre";

//@font-face {
//    font-family: 'FuturaCustom';
//    src: url('/Futura-Bold.woff2') format('woff2'),
//         url('/Futura-Bold.woff') format('woff'),
//         url('/Futura-Bold.ttf') format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}

@font-face {
    font-family: 'FuturaCustom';
    src: url('/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    background-color: $black;
    font-family: 'FuturaCustom', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.title {
    font-family: 'FuturaCustom', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;

    color: white;

    max-width: 80%;

    font-size: 3rem;
    text-shadow: 0px 0px 40px rgba(0,0,0,1);
}

.medium {
    font-size: 8rem;
}
.big {
    font-size: 12rem;
}

h1 {
    font-family: 'FuturaCustom', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 4rem;

    color: $black;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
